* {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin: auto;
    text-align: center;
}

button {
    border: none;
    background-color: #4caf50;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 150px;
}

.score {
    display: flex;
    justify-content: center;
}

.score-with-title {
    margin: 50px auto;
}

.history {
    margin: 50px auto;
}

.red {
    color: #ff0000;
}